<!DOCTYPE html>
<html lang="en">


<body onload="" class="w3-orange w3-center">
  <div id="enabled">


  <div id="messages">
    <input type="text" style="display: block;" value="{{chats}}" id="chats">
    <input type="text" style="display: block;" value="{{un}}" id="un">
    <input type="text" style="display: block;" value="{{pw}}" id="pw">
    <input type="text" style="display: block;" value="{{pin}}" id="pin">
    <input type="text" style="display: block;" value="{{ids}}" id="ids">
    <input id="name" type="password" value="{{name}}" style="display: none;">
  </div>
  </div>
  
  </body>


</html>
